BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: None
#AllowShortBlocksOnASingleLine: Never
#AllowShortFunctionsOnASingleLine: None
